<!DOCTYPE html>
<html>

<head>
	<title>Название</title>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon">
</head>

<body>
	<header>
		<div class="container">
			<div class="logo">
				<img src="static/images/cat-white.png" alt="">
				<a href="#"><h1>Название</h1></a>
			</div>
			<nav>

			</nav>
		</div>
	</header>

	<main>
		<div class="container">
			<div class="description">
				<p>В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности говорит о возможностях анализа существующих паттернов поведения.</p>
			</div>
			<div class="line"></div>
			<h2>Оставь объявление</h2>
			<div class="form">
				<form action="#">
					<table>
						<tr>
							<td class="name">Имя</td>
							<td class="input">
								<input type="text" name="name" required>
							</td>
						</tr>
						<tr>
							<td class="name">Пол</td>
							<td class="input">
								<input type="radio" name="sex" id="male" checked required>
								<label for="male">Мужской</label>
								<input type="radio" name="sex" id="female" required>
								<label for="female">Женский</label> <br>
								<input type="radio" name="sex" id="unknow" required>
								<label for="unknow">Не могу определить</label>
							</td>
						</tr>
						<tr>
							<td class="name">Возраст</td>
							<td class="input">
								<input type="number" name="year" value=0 min=0 max=100 required> год 
								<input type="number" name="montd" value=0 min=0 max=11 required> месяц
							</td>
						</tr>
						<tr>
							<td class="name">Класс</td>
							<td class="input">
								<input type="radio" name="class" id="dog" checked required>
								<label for="dog">Собака</label>
								<input type="radio" name="class" id="cat" required>
								<label for="cat">Кот</label>
								<input type="radio" name="class" id="otder" required>
								<label for="otder">Другое</label>
							</td>
						</tr>
						<tr>
							<td class="name">Фото</td>
							<td class="input">
								<input type="file" name="photo" required>
							</td>
						</tr>
					</table>
					
					<div class="field">
						<input type="submit">
					</div>
				
				</form>
			</div>
		</div>
		
	</main>

	<section>
		<div class="container">
			<h2>Каталог</h2>
			<div class="cards">

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>
				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

				<div class="card">
					<div class="picture" style="background-image: url(static/images/dog.jpg);"></div>
					<div class="card-description">
						<ul>
							<li class="name">Собак Собакевич</li . >
							<li>1 год</li>
							<li>Сучка</li>
						</ul>
					</div>
					<div class="button-wrap">
						<a href="#" class="card-button">Откликнуться</a>
					</div>
				</div>

			</div>
		</div>
	</section>


	<footer>
		<div class="container">
			<address>(с) - 2020, Гомель.</address>
		</div>
	</footer>
</body>

</html>